body {
	background-color: darkred;
	text-align: center;
}
h1, h4 {
	color: white;
	text-align: center;
}
p {
	color: white;
	text-align: center;
}
input[type=text] {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
}